<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= image_tag restaurant.image.thumb if restaurant.image.present? %></td>
      <%= link_to restaurant.name, restaurant %></td>
    </li>
  <% end %>
</ul>

<%= link_to 'New Restaurant', new_restaurant_path %>