<h1>Restaurants</h1>
<div class="restaurants">
<% @restaurants.each do |restaurant| %>
	<div class="test">
		<table>
			<tr>
				<td class="restaurant_cell"><%= link_to restaurant.name, restaurant %></td>
				<td class="picture_cell"><%= image_tag restaurant.image.thumbnail if restaurant.image.present? %></td>
			</tr>
		</table>
	</div>
<% end %>
<div>
<%= link_to "New Restaurant", new_restaurant_path, :class => 'btn' %>


